body{
    background-color: #ffff !important;
}
/* مرکز‌چین کردن کل فلوچارت */
.flowchart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
    margin: 0;
  }
  
  /* استایل کلی فلوچارت */
  .flowchart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* استایل مرحله */
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  /* استایل جعبه */
  .box {
    padding: 15px 25px;
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: #ecfaff;
    color: #333;
    text-align: center;
    font-weight: bold;
  }
  
  /* استایل توضیحات */
  .description {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #555;
    max-width: 400px;
    text-align: center;
    line-height: 1.5;
  }
  
  /* استایل فلش‌ها */
  .arrow {
    width: 2px;
    height: 30px;
    background-color: #3498db;
  }
  
  .arrow-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3498db;
    height: 0;
    width: 0;
    margin: -10px 0;
  }